<h2>showed</h2>

<ul>
  <li><%= @resource.title %></li>
  <li><%= link_to @resource.url, @resource.url%></li>
  <li><%= @resource.description %></li>
</ul>

<p>Comments:</p>

<%= render 'comments/form' %>

<%= link_to 'Back', '/resources' %>
